*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #cccccc;
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar{
    background: rgb(22, 22, 22);
    background-position: center;
    text-align: center;
}

.menu-bar ul{
    display: -webkit-inline-flex;
    list-style: none;
    color: rgb(175, 175, 175);
}

.menu-bar ul li{
    margin: 50px;
    margin-left: 60px;

}

.menu-bar ul li a{
    text-decoration: none;
    color: rgb(207, 207, 207);
    font-weight: bold;
    font-size: 14px;
}

.image{
    background: rgb(100, 100, 100);
    background-position: center;
    text-align: center;
}
.menu-bar ul li a:hover{
    color: rgb(195, 170, 230);
}

.logo{
    top: 74px;
    left: 138px;
    width: 524px;
    height: 60px;
    text-align: left;
    font: normal normal bold 60px/72px Anonymous Pro;
    letter-spacing: 0px;
    color: #DBDBDB;
    opacity: 1;
}